name: Deploy

on:
  workflow_call:
    inputs:
      environment:
        description: "Deploy Environment."
        required: true
        type: string
        default: stage_deploy
      label:
        description: "Docker image label"
        required: true
        type: string
        default: stage

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: mssp

defaults:
  run:
    working-directory: .

jobs:
  build-and-push-image-to-github-packages:
    name: Push Docker image to GitHub Packages
    runs-on: ubuntu-latest
    environment:
      name: ${{ inputs.environment }}

    permissions:
      contents: read
      packages: write
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: develop
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Sanitize repo slug
        uses: actions/github-script@v6
        id: repo_slug
        with:
          result-encoding: string
          script: return 'ghcr.io/${{ github.repository }}'.toLowerCase()
      - name: Push Stage to GitHub Container Registry
        uses: docker/build-push-action@v4
        with:
          context: "{{defaultContext}}"
          push: true
          tags: ${{ steps.repo_slug.outputs.result }}:${{ inputs.LABEL }}

  deploy:
    name: Deploy changes on server
    runs-on: ubuntu-latest
    environment:
      name: ${{ inputs.environment }}

    needs: build-and-push-image-to-github-packages
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Sanitize repo slug
        uses: actions/github-script@v6
        id: repo_slug_deploy
        with:
          result-encoding: string
          script: return 'ghcr.io/${{ github.repository }}'.toLowerCase()
      - name: Create directory for deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          passphrase: ${{ secrets.PASSPHRASE }}
          script: |
            sudo mkdir -p ${{ vars.DEPLOY_PATH }}
            sudo chmod 777 ${{ vars.DEPLOY_PATH }}
      - name: copy file via ssh
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          passphrase: ${{ secrets.PASSPHRASE }}
          source: "infra/docker-compose.staging.yml, infra/swag_nginx.conf"
          target: ${{ vars.DEPLOY_PATH }}
      - name: executing remote ssh commands to deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          passphrase: ${{ secrets.PASSPHRASE }}
          script: |
            cd ${{ vars.DEPLOY_PATH }}
            sudo cat > infra/.env <<- EOM
            # Django
            SECRET_KEY=${{ secrets.DJANGO_SECRET_KEY }}
            ALLOWED_HOSTS=${{ secrets.DJANGO_ALLOWED_HOSTS }}
            CSRF_TRUSTED_ORIGINS=${{ secrets.DJANGO_CSRF_TRUSTED_ORIGINS }}

            # Telegram
            TELEGRAM_TOKEN=${{ secrets.TELEGRAM_TOKEN }}
            # Webhook
            WEBHOOK_MODE=${{ secrets.WEBHOOK_MODE || "False"}}
            WEBHOOK_URL=${{ secrets.WEBHOOK_URL }}

            # Postgres
            POSTGRES_DB=${{ secrets.POSTGRES_DB || "mspp" }}
            POSTGRES_USER=${{ secrets.POSTGRES_USER || "postgres" }}
            POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD }}
            POSTGRES_HOST=${{ secrets.POSTGRES_HOST || "postgres" }}
            POSTGRES_PORT=${{ secrets.POSTGRES_PORT || "5432" }}

            # Google account
            GOOGLE_PRIVATE_KEY=${{ secrets.GOOGLE_PRIVATE_KEY }}
            GOOGLE_PRIVATE_KEY_ID=${{ secrets.GOOGLE_PRIVATE_KEY_ID }}
            GOOGLE_PROJECT_ID=${{ secrets.GOOGLE_PROJECT_ID }}
            GOOGLE_CLIENT_EMAIL=${{ secrets.GOOGLE_CLIENT_EMAIL }}
            GOOGLE_CLIENT_ID=${{ secrets.GOOGLE_CLIENT_ID }}
            GOOGLE_CLIENT_X509_CERT_URL=${{ secrets.GOOGLE_CLIENT_X509_CERT_URL }}

            # Google spreadsheets ids
            SPREADSHEET_ID_FUND=${{ secrets.SPREADSHEET_ID_FUND }}
            SPREADSHEET_ID_VOLUNTEER=${{ secrets.SPREADSHEET_ID_VOLUNTEER }}

            EMAIL=${{ secrets.EMAIL }}

            # SWAG
            URL=${{ secrets.SWAG_URL }}
            CERTPROVIDER=${{ secrets.SWAG_CERTPROVIDER || "zerossl" }}
            EOM

            sudo docker compose -f infra/docker-compose.staging.yml stop
            sudo docker compose -f infra/docker-compose.staging.yml rm -f
            sudo docker rmi $(sudo docker images -qa)
            sudo docker compose -f infra/docker-compose.staging.yml up -d --quiet-pull

            sudo docker compose -f infra/docker-compose.staging.yml exec backend python manage.py migrate
            sudo docker compose -f infra/docker-compose.staging.yml exec backend python manage.py collectstatic --no-input
